<aside class="main-sidebar">

        <!-- sidebar: style can be found in sidebar.less -->
        <section class="sidebar">

          <!-- Sidebar Menu -->
          <ul class="sidebar-menu">
            <li class="header">主菜单</li>
            {% if current_user.is_authenticated %}
                <!-- Optionally, you can add icons to the links -->
                <li class="active treeview">
                  <a href="#">
                    <i class="fa fa-dashboard"></i> <span>渠道商信息</span> <i class="fa fa-angle-left pull-right"></i>
                  </a>
                  <ul class="treeview-menu">
                    <li><a href="/channel/"><i class="fa fa-circle-o"></i>激活设备统计</a></li>
                  </ul>
                </li>
                {% if current_user.is_admin %}
                <li class="treeview">
                  <a href="#">
                    <i class="fa fa-dashboard"></i> <span>管理后台</span> <i class="fa fa-angle-left pull-right"></i>
                  </a>
                  <ul class="treeview-menu">
                    <li><a href="/admin/adminuser"><i class="fa fa-circle-o"></i>用户管理</a></li>
                    <li><a href="/admin/channelstatistic"><i class="fa fa-circle-o"></i>渠道激活统计</a></li>
                  </ul>
                </li>
                 {% endif %}
             {% endif %}
          </ul><!-- /.sidebar-menu -->
        </section>
        <!-- /.sidebar -->
      </aside>